@import url('https://fonts.googleapis.com/css?family=Oswald|Patua+One|Open+Sans');

:root {
  --basecol: #6a0e7c;
  --hl1: #26b297;
  --hl2: #2ee9ff;
  --hl3: #ffe324;
}

body {
  min-width: initial !important;
}

.clearfix {
  clear: both;
}

.protograph-card {
  position: relative;
  overflow: hidden;
  letter-spacing: normal;
  box-sizing: border-box;
}

.cover-container {
  width: 1260px;
  height: 420px;
  background: radial-gradient(ellipse, #000, #220427);
  margin: 0 auto;
  vertical-align: top;
  position: relative;
  margin-bottom: 20px;
}

.anim-div, .stats-div {
  color: #fff;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 20px;
}

.anim-div {
  width: 60%;
  overflow: hidden;
}

.stats-div {
  width: 40%;
  vertical-align: top;
}

.title {
  color: #fff;
  font-family: Oswald;
  font-size: 80px;
  display: block;
  height: 100px;
  margin: auto;
  width: min-content;
  line-height: 1;
  text-transform: uppercase;
  margin-top: 10px;
}

.desc {
  color: #fff;
  font-family: Open Sans;
  font-size: 12px;
  display: block;
  width: 90%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
}

.desc > b {
  color: var(--hl2);
}

.flip-num-container {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 30px;
}

.flip-counter {
  margin: auto;
  width: max-content;
}

.flip-num-bg {
  height: 90px;
  width: 70px;
  background-color: var(--hl1);
  border-radius: 12px;
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px; 
}

.flip-num {
  color: #fff;
  font-family: Patua One;
  font-size: 75px;
  line-height: 0.8;
  padding: 13px;
  margin: auto;
  width: min-content;
}

.flip-counter-caption {
  display: block;
  color: #fff;
  font-family: 'Oswald';
  text-transform: uppercase;
  padding: 5px;
  font-size: 28px;
  letter-spacing: 2px;
  line-height: 1;
  text-align: center;
}

.tweets {
  position: relative;
}

/*Elements*/

.ptweet1, .ptweet2, .ptweet3, .ptweet4, .ptweet5, .ptweet6 {
  position: absolute;
  z-index: 3;
}

.gtweet1, .gtweet2, .gtweet3, .gtweet4, .gtweet5, .gtweet6 {
  position: absolute;
  z-index: 2;
  opacity: 0.85;
}

.btweet1, .btweet2, .btweet3 {
  position: absolute;
  z-index: 1;
  opacity: 0.7;
}

.ptweet1 {
  top: 10px;
  left: 40px;
  animation: move1 47s -20s linear infinite;
}

.ptweet2 {
  top: 300px;
  left: 90px;
  animation: move1 47s -30s linear infinite;
}

.ptweet3 {
  top: 600px;
  left: 0px;
  animation: move1 47s -1s linear infinite;
}

.ptweet4 {
  top: 120px;
  left: 240px;
  animation: move1 47s -38s linear infinite;
}

.ptweet5 {
  top: 510px;
  left: 410px;
  animation: move1 47s -5s linear infinite;
}

.ptweet6 {
  top: 360px;
  left: 340px;
  animation: move1 47s -14s linear infinite;
}

.gtweet1 {
  left: 400px;
  animation: move2 68s -17s linear infinite;
}

.gtweet2 {
  animation: move2 68s -20s linear infinite;
}

.gtweet3 {
  left: 500px;
  animation: move2 68s -48s linear infinite;
}

.gtweet4 {
  animation: move2 68s -56s linear infinite;
}

.gtweet5 {
  left: 450px;
  animation: move2 68s -32s linear infinite;
}

.gtweet6 {
  animation: move2 68s -1s linear infinite;
}

.btweet1 {
  animation: move3 85s -10s linear infinite;
}

.btweet2 {
  left: 500px;
  animation: move3 85s -20s linear infinite;
}

.btweet3 {
  animation: move3 85s -60s linear infinite;
}


/*Keyframes*/

@keyframes move1 {
  from {top: 720px;}
  to {top: -400px;}
}

@keyframes move2 {
  from {top: 400px;}
  to {top: -840px;}
}

@keyframes move3 {
  from {top: 400px;}
  to {top: -785px;}
}

/*Mobile CSS*/

@media only screen and (max-width: 500px) {
    .cover-container {
        width: 360px;
    }

    .anim-div {
      display: none;
    }

    .stats-div {
      width: 100%;
    }

    .title {
      font-size: 62px;
      height: auto;
      padding-bottom: 20px;
    }

    .flip-num-container {
      width: 100%;
    }

    .flip-num-bg {
      width: 60px;
      height: 80px;
    }

    .flip-num {
      font-size: 62px;
    }

    .flip-counter-caption {
      font-size: 23px;
    }
}