@font-face {
  font-family: AvenirLTStd-Medium;
  src: url("https://cdn.protograph.pykih.com/lib/AvenirLTStd-Medium.otf") format("opentype"); }
@font-face {
  font-family: Avenir-Bold;
  src: url("https://cdn.protograph.pykih.com/lib/AEH.ttf") format("opentype"); }

.proto-social-post-card {
  width: 300px;
  /* border: 1px solid #333333; */
  height: 280px;
  display: inline-block;
  font-family: 'AvenirLTStd-Medium';
  color: #333333;
}

.proto-social-post-card .post-brand {
  height: 10px;
}

.proto-social-post-card .post-img {
  margin: 10px 0px;
  display: inline-block;
  width: 40px;
  height: 25px;
  text-align: right;
}

.proto-social-post-card .post-img img {
  padding: 2px;
}

.proto-social-post-card .post-content {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  /*margin: 0px 10px;*/
  padding-top: 5px;
}

.post-content > .post-category > .post-category-data {
  font-size: 16px;
  color: #fff;
  font-family: Avenir-Bold;
}

.post-content > .post-category > .post-category-title {
  color: #efefef;
}

.post-content {
  background-color: var(--basecol);
}

.proto-social-post-card .post-name {
  /* font-family: 'Avenir-Bold'; */
  font-size: 13px;
  padding-right: 5px;
}

.proto-social-post-card .post-handle {
  color: #aaaaaa;
  font-size: 13px;
}
  
.proto-social-post-card .post-expand {
  float: right;
  width: 10px;  
}  

.proto-social-post-card .post-data {
  margin: 0px 10px;
  font-size: 16px;
  line-height: 24px;
  height: 150px;
  overflow-wrap: break-word;
}

.proto-social-post-card .post-categories {
  border-top: 1px solid #eeeeee;
}

.proto-social-post-card .post-category {
  margin: 10px;
}

.proto-social-post-card .post-category-title {
 font-size: 10px;
  color: #999999;
}

.proto-social-post-card .post-category-data {
  font-size: 12px;
  overflow: visible;
  text-overflow: ellipsis;
}

.protograph-card {
    width: 300px;
    height: 200px;
    background-color: #f9f9f9;
    /* cursor: pointer; */
    display: inline-block;
    text-align: left;
    margin-right: 20px;
    margin-left: 0px;
    margin-bottom: 20px;
    position: relative;
    transition: all 250ms cubic-bezier(.02, .01, .47, 1);
    /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2); */
    border: 1px solid #eeeeee;
    float: left;
  }

  .div-without-margin-right{
    margin-right: 0px;
  }
 
  @media only screen and (max-width: 500px ) {
    .protograph-card {
      margin-right: 0px;
      float:none;
    }
  }